<div class="row justify-content-center card-margin" style="margin-bottom: 10vh;">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <div class="card shadow-lg">
            <div class="card-header">
                <h2 class="text-center my-2">{{(parentUrl?'Restaurant':'User') | titlecase}} Profile</h2>
            </div>
            <div class="card-body px-4 px-sm-5 py-5" *ngIf="!chgPwd; else chgPwdForm">
                <h1 class="fs-4 card-title fw-bold align-center">
                    <button type="button" class="btn btn-lg btn-primary active btn-half rounded-left-only">Update Details</button>
                    <button type="button" class="btn btn-lg btn-outline-primary btn-half rounded-right-only" (click)="toggle()">Change Password</button>
                </h1>
                <form [formGroup]="detailsForm" class="form-margin-top" (ngSubmit)="detailsForm.valid? submitDetails(): undefined">
                    <div class="d-flex justify-content-around">
                        <div class="form-floating mb-3 col-5">
                            <input type="text" class="form-control" id="name" formControlName="name"/>
                            <label for="name">Name</label>
                            <div id="nameError" class="text-danger text-center error-height mt-1">
                            <div *ngIf="detailsForm.controls['name'].dirty && detailsForm.controls['name'].invalid">
                                <span *ngIf="detailsForm.controls['name'].errors!['required']">Name is required</span>
                                <span *ngIf="detailsForm.controls['name'].errors!['pattern']">Enter valid Name</span>
                            </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3 col-5">
                            <input type="tel" class="form-control" id="mob" formControlName="mobile"/>
                            <label for="mob">Mobile Number</label>
                            <div id="mobError" class="text-danger text-center error-height mt-1">
                                <div *ngIf="detailsForm.controls['mobile'].dirty && detailsForm.controls['mobile'].invalid">
                                    <span *ngIf="detailsForm.controls['mobile'].errors!['required']">Mobile Number is required</span>
                                    <span *ngIf="detailsForm.controls['mobile'].errors!['pattern']">Mobile Number must be 10 digits</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <fieldset formGroupName="address">
                        <div class="d-flex justify-content-around">
                            <div class="form-floating mb-3 col-11">
                                <input type="text" class="form-control" id="street" formControlName="street"/>
                                <label for="street">Apartment, Street, Area</label>
                                <div id="streetError" class="text-danger text-center error-height mt-1">
                                    <div *ngIf="detailsForm.controls['address'].get('street')!.dirty && detailsForm.controls['address'].get('street')!.invalid">
                                        <span *ngIf="detailsForm.controls['address'].get('street')!.errors!['required']">House Number, Street, Area is required</span>
                                        <span *ngIf="detailsForm.controls['address'].get('street')!.errors!['pattern']">Enter valid House Number, Street, Area</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-around">
                            <div class="form-floating mb-3 col-5">
                                <input type="number" class="form-control" id="pincode" formControlName="pincode"/>
                                <label for="pincode">Pincode</label>
                                <div id="pincodeError" class="text-danger text-center error-height mt-1">
                                    <div *ngIf="detailsForm.controls['address'].get('pincode')!.dirty && detailsForm.controls['address'].get('pincode')!.invalid">
                                        <span *ngIf="detailsForm.controls['address'].get('pincode')!.errors!['required']">Pincode is required</span>
                                        <span *ngIf="detailsForm.controls['address'].get('pincode')!.errors!['pattern']">Pincode must be of 6 digits</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-floating mb-3 col-5">
                                <input type="text" class="form-control" id="city" formControlName="city"/>
                                <label for="city">City</label>
                                <div id="cityError" class="text-danger text-center error-height mt-1">
                                    <div *ngIf="detailsForm.controls['address'].get('city')!.dirty && detailsForm.controls['address'].get('city')!.invalid">
                                        <span *ngIf="detailsForm.controls['address'].get('city')!.errors!['required']">City is required</span>
                                        <span *ngIf="detailsForm.controls['address'].get('city')!.errors!['pattern']">Enter valid City</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-around">
                            <div class="form-floating mb-3 col-5">
                                <input type="text" class="form-control" id="state" formControlName="state"/>
                                <label for="state">State</label>
                                <div id="stateError" class="text-danger text-center error-height mt-1">
                                    <div *ngIf="detailsForm.controls['address'].get('state')!.dirty && detailsForm.controls['address'].get('state')!.invalid">
                                        <span *ngIf="detailsForm.controls['address'].get('state')!.errors!['required']">State is required</span>
                                        <span *ngIf="detailsForm.controls['address'].get('state')!.errors!['pattern']">Enter valid State</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-floating mb-3 col-5">
                                <input type="text" class="form-control" id="country" formControlName="country"/>
                                <label for="country">Country</label>
                                <div id="countryError" class="text-danger text-center error-height mt-1">
                                    <div *ngIf="detailsForm.controls['address'].get('country')!.dirty && detailsForm.controls['address'].get('country')!.invalid">
                                        <span *ngIf="detailsForm.controls['address'].get('country')!.errors!['required']">Country is required</span>
                                        <span *ngIf="detailsForm.controls['address'].get('country')!.errors!['pattern']">Enter valid Country</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-floating text-center my-2">
                        <button type="submit" class="btn btn-lg btn-outline-success">Update Details</button>
                    </div>
                </form>
                <div class="text-success text-center fixed-height">
                    {{successMessage}}
                </div>
                <div class="text-danger text-center fixed-height">
                    {{errorMessage}}
                </div>
            </div>

            <ng-template #chgPwdForm>
                <div class="card-body p-5 py-4">
                    <h1 class="fs-4 card-title fw-bold align-center">
                        <button type="button" class="btn btn-lg btn-outline-primary btn-half rounded-left-only" (click)="toggle()">Update Details</button>
                        <button type="button" class="btn btn-lg btn-primary active btn-half rounded-right-only">Change Password</button>
                    </h1>
                    <form #passwordForm="ngForm" class="form-margin-top" (ngSubmit)="passwordForm.valid && pwd.value==cnfpwd.value? updatePassword(passwordForm): undefined">
                        <div class="d-flex justify-content-around">
                            <div class="form-floating mb-3 col-md-5">
                                <input type="email" class="form-control" placeholder="Email" id="emailId" value="{{em}}" disabled/>
                                <label for="emailId">Email</label>
                                <div [ngStyle]="{visibility: 'hidden'}" class="text-danger text-center mt-1">Email is required</div>
                            </div>

                            <div class="form-floating mb-3 col-md-5">
                                <input type="password" class="form-control" id="oldpwd" [(ngModel)]="oldPassword" name="oldPassword" placeholder="Old Password" #oldpwd="ngModel" required/>
                                <label for="oldpwd">Old Password</label>
                                <div [ngStyle]="{visibility: ((oldpwd.invalid && oldpwd.dirty) || (passwordForm.submitted && passwordForm.controls['oldPassword'].errors)) ? 'visible' : 'hidden'}" class="text-danger text-center mt-1">Old Password is required</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="form-floating mb-3 col-md-5">
                                <input type="password" class="form-control" id="pwd" [(ngModel)]="password" name="password" placeholder="New Password" #pwd="ngModel" pattern="^(?=.*\w)(?=.*\W)(?!.* ).{8,16}$" required/>
                                <label for="pwd">New Password</label>
                                <div [ngStyle]="{visibility: ((pwd.invalid && pwd.dirty) || (passwordForm.submitted && passwordForm.controls['password'].errors))  ? 'visible': 'hidden'}" class="text-danger text-center mt-1">
                                    <span *ngIf="!((passwordForm.controls['password']?.errors||{})!['pattern']); else passwordError">New Password is required</span>
                                    <ng-template #passwordError class="text-danger text-center mt-1">New Password must have 8 to 16 characters with one special character and no space</ng-template>
                                </div>
                                
                            </div>

                            <div class="form-floating mb-3 col-md-5">
                                <input type="password" class="form-control" id="cnfpwd" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm New Password" #cnfpwd="ngModel" required/>
                                <label for="cnfpwd">Confirm New Password</label>
                                <div *ngIf="passwordForm.submitted && pwd.valid && cnfpwd.valid && pwd.value!=cnfpwd.value; else requiredMessage" class="text-danger text-center mt-1">"Confirm New Password" is not matching with "New Password"</div>
                                <ng-template #requiredMessage>
                                    <div [ngStyle]="{visibility: ((cnfpwd.invalid && cnfpwd.dirty) || (passwordForm.submitted && passwordForm.controls['confirmPassword'].errors)) ? 'visible' : 'hidden'}" class="text-danger text-center mt-1">Confirm New Password is required</div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="form-floating text-center my-2">
                            <button type="submit" class="btn btn-lg btn-outline-success">Change Password</button>
                        </div>
                    </form>
                    <div class="text-success text-center fixed-height">
                        {{passwordSuccessMessage}}
                    </div>
                    <div class="text-danger text-center fixed-height">
                        {{passwordErrorMessage}}
                    </div>
                </div>
            </ng-template>
            <div class="card-footer text-center py-4">
                <button type="button" class="justify-content-end btn btn-lg btn-outline-danger" (click)="logout()">Logout</button>
            </div>
        </div>
        
    </div>
</div>