.btn-full{
    width: 100%;
}

.btn-half{
    width: 50%;
}

.rounded-left-only{
    border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
}

.rounded-right-only{
    border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
}

.card-margin{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.form-margin-top{
    margin-top: 2.25rem;
}

.fixed-height{
    height: 1rem;
}

.error-height{
    height: 1.5rem;
}