
.card{
    border-radius: 1rem;
    padding: 1rem;
}

.card-img-top{
    border-radius: 1rem 1rem 0 0;
}

.card-body{
    padding: 0;
}

.borderBottom{
    border-bottom: 1px solid #dee2e6;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cursor-pointer{
    cursor: pointer;
}

.one-line-text{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-width{
    max-width: 300px;
}